#menu {
  position: fixed;
  background-color: #222;
  height: 100%;
  z-index: 10;
  width: 280px;
  color: #bbb;
  top: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  font-family: 'Source Sans Pro', sans-serif;
}

#menu ul {
  list-style: none;
  margin-top: 0;
  padding: 0
}

#menu ul li { border-bottom: 1px solid #2a2a2a; }

#menu>ul>li>a { border-left: 4px solid #222; }

#menu ul li a {
  color: inherit;
  font-size: 16px;
  display: block;
  padding: 8px 0 8px 7px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 600;
}

#menu ul a i {
  margin-right: 10px;
  font-size: 18px;
  margin-top: 3px;
  width: 20px;
}

#menu ul a i[class*='fa-caret'] { float: right; }

#menu ul a:hover,
#menu ul a.active {
  background-color: #111;
  border-left-color: #FFCC33;
  color: #FFCC33;
}

#menu ul a:hover i:first-child { color: #FFCC33; }

/* Submenu */

#menu ul li a.active+ul { display: block }

#menu ul li ul {
  margin-top: 0;
  display: none;
}

#menu ul li ul li { border-bottom: none; }

#menu ul li ul li a { padding-left: 30px; }

#menu ul li ul li a:hover { background-color: #1A1A1A; }

/* /Submenu */


/* Cuando este a la Izq, para esconderlo posicionarlo a la Izq a -width */

.left { left: -280px; }

.show { left: 0; }

#showmenu {
  margin-left: 100%;
  position: absolute;
  top: 0;
  padding: 6px 10px 7px 10px;
  font-size: 1.3em;
  color: #2a2a2a;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* #container { padding: 50px; } */
#container {
  position: relative;
  width: 100%;
  padding-bottom: 24%;
}

#googleMap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

#displayHolonDetails
{
    line-height:30px;
    background-color:#FFFFFF;
    width:400px;
    float:right;
    padding:5px;
    height:500px;	 
    position:absolute;
   top:100px;
   right:0;   
   overflow:auto;  
}

#addHolonObject:hover, #clear:hover {
	cursor: pointer;
	cursor: hand;	
}

#pageone {
	
	margin-left:auto;
    margin-right:auto;
    }
    
#holonObjectDetail {
	    display: none;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    width: 700px;
	    height: 300px;
	    margin: -100px 0 0 -250px;    
	    background: #E2E4DD;
	    border: 5px solid rgb(128, 128, 128);
}
#holonObjectTable tr {
	height: 50px;
}

#lineObjectDetail {
	    display: none;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    width: 300px;
	    height: 100px;
	    margin: -100px 0 0 -250px;    
	    background: #E2E4DD;
	    border: 5px solid rgb(128, 128, 128);
}
#powerLineObjectTable tr {
	height: 50px;
}





#elementInfo tr {
	height: 50px;
}
#elementInfo {
	    display: none;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    width: auto;
	    height: auto;
	    margin: -100px 0 0 -250px;    
	    background: #E2E4DD;
	    border: 5px solid rgb(128, 128, 128);
	    z-index: 1;
}
.button {
	background-color:#E2E4DD;
	color: #000000;
}

#divHolonElementsDetail {
	    display: none;
	    position: absolute;
	    top: 32%;
	    left: 42%;
	    width: auto;
	    height: auto;
	    margin: -90px 0 0 -230px;    
	    background: #E2E4DD;
	    border: 3px solid rgb(128, 128, 128);
	    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	    border-collapse: collapse;
	    overflow: scroll;
}

#closeElementList{
	
		position:absolute;
    	top: 0%;
    	right: 0%;
}

#divHolonElementsDetail legend {
	color: #000000;
	font: bold;
}
#divHolonElementsDetail span {
	float: right;
}
#divHolonElementsDetail td, #divHolonElementsDetail th {
	text-align: center;
    font-size: 0.9em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#divHolonElementsDetail th {
    font-size: 0.95em;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 2px;
    background-color: #BBBDB5;
    color: #ffffff;
}

#divHolonElementsDetail tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}
